* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "open sans condensed", sans-serif;
  font-size: 10px;
  color: #424242;
}

a {
  text-decoration: none;
  color: #000;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 10vh;
  width: 100%;
  background-color: #2b2b2b;
  z-index: 2;
}

nav .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  width: 10vh;
  height: 10vh;
}

nav .hamburger span {
  width: 60%;
  height: 5px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, -webkit-transform .2s .4s;
  transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, -webkit-transform .2s .4s;
  transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;
  transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s, -webkit-transform .2s .4s;
}

nav span:nth-child(1) {
  top: calc(30% - (5px / 2 ));
}

nav span:nth-child(2) {
  top: calc(50% - (5px / 2 ));
}

nav span:nth-child(3) {
  top: calc(70% - (5px / 2 ));
}

nav .active span:nth-child(1) {
  top: calc(50% - 5px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .active span:nth-child(2) {
  opacity: 0;
}

nav .active span:nth-child(3) {
  top: calc(50% - 5px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slider {
  height: 97vh;
}

.slider .slider-image {
  margin-top: 4vh;
  max-width: 100%;
  min-width: 300px;
  height: auto;
}

article.dogs {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

article.dogs h2 {
  width: 100%;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

article.dogs h2::after {
  content: "";
}

article.dogs section.dog {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 5% 0 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article.dogs section.dog img {
  text-align: center;
  height: auto;
  max-width: 80%;
}

article.dogs section.dog p {
  margin: 5% 0 5% 0;
  width: 75%;
  font-size: 1.3rem;
  font-weight: 600;
  height: 200px;
  overflow: hidden;
}

article.dogs section.dog p.show {
  height: auto;
}

article.dogs section.dog h3 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
}

article.dogs section.dog button.show-more {
  width: 40%;
  height: 50px;
  margin: 0 0 5% 0;
  position: relative;
  font-size: 1.2rem;
  font-family: "open sans condensed", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #617BFF;
  border-top: 2px solid #617BFF;
  background-color: transparent;
  -webkit-transition: .3s .1s linear;
  transition: .3s .1s linear;
  overflow: hidden;
}

article.dogs section.dog button.show-more::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  background-color: #617BFF;
  z-index: -1;
}

article.dogs section.dog button.show-more:hover::before {
  width: 100%;
}

article.dogs section.dog button.show-more:hover {
  color: white;
}

aside {
  z-index: 5;
}
/*# sourceMappingURL=style.css.map */