nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 7.5vh;
  width: 100%;
  background-color: #2b2b2b;
  z-index: 3;
}

nav .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  width: 7.5vh;
  height: 7.5vh;
}

nav .hamburger span {
  width: 60%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, -webkit-transform .2s .4s;
  transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, -webkit-transform .2s .4s;
  transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;
  transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s, -webkit-transform .2s .4s;
}

nav span:nth-child(1) {
  top: calc(30% - (2px / 2 ));
}

nav span:nth-child(2) {
  top: calc(50% - (2px / 2));
}

nav span:nth-child(3) {
  top: calc(70% - (2px / 2 ));
}

nav .active span:nth-child(1) {
  top: calc(50% - 2px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .active span:nth-child(2) {
  opacity: 0;
}

nav .active span:nth-child(3) {
  top: calc(50% - 2px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #2b2b2b;
}

.slider .slider-image {
  display: none;
  margin-top: 7.5vh;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: slider 2.5s linear infinite;
          animation: slider 2.5s linear infinite;
  -webkit-filter: opacity(25%);
          filter: opacity(25%);
  overflow: hidden;
}

@media (min-width: 1024px) {
  .slider .slider-image {
    display: block;
  }
}

.slider .go-down {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 7.5vh;
  width: 100%;
}

.slider .go-down .arrow-down {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-color: #fff;
  border-style: solid;
  border-width: 3px 3px 0 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  position: absolute;
  left: calc(50% - 20px);
  top: -7.5px;
}

article.dogs {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

article.dogs section.dog {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 5% 0 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article.dogs section.dog img {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  text-align: center;
  height: auto;
  max-width: 80%;
}

article.dogs section.dog h3 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  article.dogs section.dog h3 {
    font-size: 5rem;
  }
}

@media (min-width: 1024px) {
  article.dogs section.dog p {
    width: 65%;
  }
}

aside {
  height: calc(100vh - 7.5vh);
  width: 100%;
  position: fixed;
  top: 7.5vh;
  left: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2b2b2b;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 3;
}

aside div {
  position: absolute;
  top: 0;
  left: 0;
}

aside div button {
  width: 100%;
  height: 70px;
  position: relative;
  color: white;
  font-size: 1.5rem;
  font-family: "open sans condensed", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0 0 3% 0;
  border: none;
  background-color: transparent;
  -webkit-transition: .3s .1s linear;
  transition: .3s .1s linear;
  overflow: hidden;
}

aside div button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  background-color: #617BFF;
  z-index: -1;
}

aside div button:hover::before {
  width: 100%;
}

aside.active {
  left: 0;
}

article.puppies {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

article.puppies h2 {
  margin: 10% 0 5% 0;
}

@media (min-width: 1024px) {
  article.puppies h2 {
    margin: 5% 0 0 0;
  }
}

article.puppies section {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 0 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article.puppies section .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article.puppies section .images img {
  margin-bottom: 2%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 1024px) {
  article.puppies section .images img {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

article.puppies section button {
  width: 30%;
  margin-bottom: 5%;
  padding-bottom: 5px;
  font-size: 1.3rem;
  font-family: "open sans condensed", sans-serif;
  font-weight: 600;
  color: #424242;
  background-color: transparent;
  border: none;
  position: relative;
}

@media (min-width: 1024px) {
  article.puppies section button {
    width: 15%;
    font-size: 2.2rem;
  }
}

article.puppies section button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  background-color: #617BFF;
  z-index: -1;
}

article.puppies section button:hover::before {
  height: 100%;
}

article.puppies section .read-more-text {
  display: none;
}

article.puppies section .read-more-text--active {
  display: inline;
}

@media (min-width: 1024px) {
  article.puppies section p {
    width: 65%;
  }
}

article.about {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5%;
}

article.about .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin: 15% 0 15% 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1024px) {
  article.about .box {
    margin: 5% 0 10% 0;
  }
}

article.about .box i {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  font-size: 2.75rem;
  text-align: center;
}

@media (min-width: 1024px) {
  article.about .box i {
    font-size: 5rem;
  }
}

article.about .box h4 {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5% 0 5% 0;
}

@media (min-width: 1024px) {
  article.about .box h4 {
    font-size: 4rem;
    margin: 5% 0 0 0;
  }
}

article.about .box p {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  text-align: center;
}

@media (min-width: 1024px) {
  article.about .box p {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }
}

article.how-to-get {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article.how-to-get h2 {
  margin: 0 0 15% 0;
}

@media (min-width: 1024px) {
  article.how-to-get h2 {
    margin: 0 0 5% 0;
  }
}

article.how-to-get iframe {
  width: 90%;
}

@media (min-width: 1024px) {
  article.how-to-get iframe {
    height: 800px;
  }
}

article.communication {
  width: 100%;
  height: auto;
  margin-bottom: 15%;
}

article.communication h2 {
  margin: 10% 0 5% 0;
}

@media (min-width: 1024px) {
  article.communication h2 {
    margin: 10% 0 0 0;
  }
}

article.communication .box {
  margin: 5% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  article.communication .box {
    margin: 0 0 0 0;
  }
}

article.communication .box i {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  font-size: 1.75rem;
  text-align: right;
}

@media (min-width: 1024px) {
  article.communication .box i {
    font-size: 4rem;
  }
}

article.communication .box .contact {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  font-size: 1.7rem;
  margin-left: 5%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (min-width: 1024px) {
  article.communication .box .contact {
    font-size: 3rem;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

footer {
  height: 100px;
  background-color: #424242;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  line-height: 100px;
}

footer a {
  color: #fff;
}

@-webkit-keyframes slider {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slider {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: "open sans condensed", sans-serif;
  font-size: 10px;
  color: #424242;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #424242;
}

h2 {
  position: relative;
  width: 100%;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 8rem;
  }
}

p {
  margin: 5% 0 5% 0;
  height: auto;
  font-size: 1.1rem;
  font-weight: 600;
  overflow: hidden;
  width: 90%;
}

@media (min-width: 1024px) {
  p {
    font-size: 2.2rem;
  }
}
/*# sourceMappingURL=style.css.map */