* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "open sans condensed", sans-serif;
  font-size: 10px;
  color: #424242;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 7.5vh;
  width: 100%;
  background-color: #2b2b2b;
  z-index: 3;
}

nav .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  width: 7.5vh;
  height: 7.5vh;
}

nav .hamburger span {
  width: 60%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, -webkit-transform .2s .4s;
  transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, -webkit-transform .2s .4s;
  transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;
  transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s, -webkit-transform .2s .4s;
}

nav span:nth-child(1) {
  top: calc(30% - (2px / 2 ));
}

nav span:nth-child(2) {
  top: calc(50% - (2px / 2));
}

nav span:nth-child(3) {
  top: calc(70% - (2px / 2 ));
}

nav .active span:nth-child(1) {
  top: calc(50% - 2px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .active span:nth-child(2) {
  opacity: 0;
}

nav .active span:nth-child(3) {
  top: calc(50% - 2px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slider {
  height: 80vh;
}

.slider .slider-image {
  margin-top: 7.5vh;
  max-width: 100%;
  min-width: 300px;
  height: auto;
}

article.dogs {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

article.dogs h2 {
  width: 100%;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

article.dogs h2::after {
  content: "";
}

article.dogs section.dog {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 5% 0 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article.dogs section.dog img {
  text-align: center;
  height: auto;
  max-width: 80%;
}

article.dogs section.dog p {
  margin: 5% 0 5% 0;
  width: 75%;
  height: auto;
  font-size: 1.1rem;
  font-weight: 600;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

article.dogs section.dog h3 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
}

aside {
  height: calc(100vh - 7.5vh);
  width: 100%;
  position: fixed;
  top: 7.5vh;
  left: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2b2b2b;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 3;
}

aside div {
  position: absolute;
  top: 0;
  left: 0;
}

aside div button {
  width: 100%;
  height: 70px;
  position: relative;
  color: white;
  font-size: 1.5rem;
  font-family: "open sans condensed", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0 0 3% 0;
  border: none;
  background-color: transparent;
  -webkit-transition: .3s .1s linear;
  transition: .3s .1s linear;
  overflow: hidden;
}

aside div button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  background-color: #617BFF;
  z-index: -1;
}

aside div button:hover::before {
  width: 100%;
}

aside.active {
  left: 0;
}

article.puppies {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

article.puppies h2 {
  width: 100%;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin: 10% 0 5% 0;
}

article.puppies section {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 0 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article.puppies section img {
  text-align: center;
  height: auto;
  max-width: 80%;
  margin-bottom: 5%;
}

article.puppies section p {
  margin: 0 0 5% 0;
  width: 75%;
  height: auto;
  font-size: 1.1rem;
  font-weight: 600;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

article.about {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

article.about h2 {
  width: 100%;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

article.about h2::after {
  content: "";
}

article.about .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15% 0 15% 0;
}

article.about .box i {
  width: 100%;
  font-size: 2.75rem;
  text-align: center;
}

article.about .box h4 {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5% 0 5% 0;
}

article.about .box p {
  width: 100%;
  height: auto;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  padding: 0 12.5% 0 12.5%;
}
/*# sourceMappingURL=style.css.map */