article.communication
    width: 100%
    height: auto
    margin-bottom: 15%
    h2
        width: 100%
        font-size: 4rem
        font-weight: 400
        text-align: center
        text-transform: uppercase
        margin: 10% 0 5% 0
    .box
        margin: 5% 0 0 0
        display: flex
        width: 100%
        justify-content: space-between
        align-items: center
        i
            flex-basis: 20%
            font-size: 1.75rem
            text-align: center
        .contact 
            flex-basis: 80%
            font-size: 1.7rem
            margin-left: 5%