article.dogs
    width: 100%
    height: auto
    display: flex
    justify-content: center
    flex-wrap: wrap
    h2
        width: 100%
        font-size: 4rem
        font-weight: 400
        text-align: center
        text-transform: uppercase

    section.dog
        flex-basis: 100%
        margin: 5% 0 5% 0
        display: flex
        align-items: center
        flex-direction: column
        img
            text-align: center
            height: auto
            max-width: 80%
        h3
            font-size: 3rem
            font-weight: 400
            text-transform: uppercase
        