article.how-to-get
    width: 100%
    height: auto
    display: flex
    flex-wrap: wrap
    justify-content: center

    h2
        width: 100%
        font-size: 4rem
        font-weight: 400
        text-transform: uppercase
        margin: 0 0 15% 0
        text-align: center
    iframe
        width: 90%