article.how-to-get
    width: 100%
    height: auto
    display: flex
    flex-wrap: wrap
    justify-content: center

    h2
        margin: 0 0 15% 0
        @media (min-width: 1024px)
            margin: 0 0 5% 0
    iframe
        width: 90%
        @media (min-width: 1024px)
            height: 800px
            