nav
    position: fixed
    top: 0
    right: 0
    height: $nav-height
    width: 100%
    background-color: #2b2b2b
    z-index: 2

    .hamburger
        position: absolute
        top: 0
        right: 0
        width: $nav-height
        height: $nav-height
        span
            width: $bars-width
            height: $bar-height
            background-color: #fff
            position: absolute
            transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s
    span:nth-child(1)
        top: calc(30% - (#{$bar-height} / 2 ))
    span:nth-child(2)
        top: calc(50% - (#{$bar-height} / 2 ))
    span:nth-child(3)
        top: calc(70% - (#{$bar-height} / 2 ))  
    .active span:nth-child(1)
        top: calc(50% - #{$bar-height})
        transform: translate(-50%,-50%)
        transform: rotate(45deg)
    .active span:nth-child(2)
        opacity: 0
    .active span:nth-child(3)
        top: calc(50% - #{$bar-height})
        transform: translate(-50%,-50%)
        transform: rotate(-45deg)       